//output:index.html
doctype html
html(lang='en')
 head
   title Front-End Exam
   meta(charset="UTF-8")
   link(rel="stylesheet" type="text/css" href="css/index.css")
   script(type="text/javascript" src="vendor/jquery.min.js")
   script(type="text/javascript" src="js/myFunctions.js")
   
 body
  header#header
    .container
      a(href="#")
       img(src="images/header/website-logo.png", alt="website-logo")
  // Slideshow container
  .slideshow-wrapper
    .slideshow--mask
      ul.mySlides
        li
          img(src="images/slideshow/slideshow-image1.jpg", alt="slideshow-image1" style="width: 1400px")
          .slideshow-wrapper-content
              h1 キャッチコピーが入ります。
              p サンプルテキストサンプルテキストサンプルテキスト<br/>サンプルテキストサンプルテキストサンプルテキスト
        li
          img(src="images/slideshow/slideshow-image2.jpg", alt="slideshow-image1" style="width: 1400px")
          .slideshow-wrapper-content
              h1 キャッチコピーが入ります。2
              p サンプルテキストサンプルテキストサンプルテキスト<br/>サンプルテキストサンプルテキストサンプルテキスト
        li
          img(src="images/slideshow/slideshow-image3.jpg", alt="slideshow-image1" style="width: 1400px")
          .slideshow-wrapper-content
              h1 キャッチコピーが入ります。3
              p サンプルテキストサンプルテキストサンプルテキスト<br/>サンプルテキストサンプルテキストサンプルテキスト
            
      .slideshow-wrapper-content
        .slideshow--navigation
            ul.slideshow-triggers
              li.dot
              li.dot
              li.dot
                
        .slideshow--click-previous
          a(href="#" class="prev") <img src="images/slideshow/previous-arrow.png" alt="previous slider">
        .slideshow--click-next
          a(href="#" class="next") <img src="images/slideshow/next-arrow.png" alt="next slider">
          
  .container
    .main--wrapper
      main#main
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        article
          a(href="#")
            .article--thumbnail
              <img src="images/article/article--thumbnail.jpg" class="display-on" alt="Thumbnail image">
              <img src="images/article/article--thumbnail-hover.jpg" class="display-onHover" alt="Thumbnail hover image">
            small 2016.01.01
            h1 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト...
        
        .main--moreArticles-button <a href="#">More</a>
              
      aside#aside
        .aside--main-banner 
          a(href="#")
            <img src="images/sidebar/sidebar--main-image.jpg" alt="Dummy Banner">
        .aside--recommended <h1>Recommend</h1>
          .sidebar--article
            a(href="#")
              .sidebar--article-thumbnail 
                <img src="images/sidebar/sidebar--thumbnail.jpg" class="display-on" alt="Sidebar Thumbnail">
                <img src="images/sidebar/sidebar--thumbnail-hover.jpg" class="display-onHover" alt="Sidebar Hover Thumbnail">
              h2 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              small 2016.03.26
          .sidebar--article
            a(href="#")
              .sidebar--article-thumbnail
                <img src="images/sidebar/sidebar--thumbnail.jpg" class="display-on" alt="Sidebar Thumbnail">
                <img src="images/sidebar/sidebar--thumbnail-hover.jpg" class="display-onHover" alt="Sidebar Hover Thumbnail">
              h2 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              small 2016.03.26
          .sidebar--article
            a(href="#")
              .sidebar--article-thumbnail 
                <img src="images/sidebar/sidebar--thumbnail.jpg" class="display-on" alt="Sidebar Thumbnail">
                <img src="images/sidebar/sidebar--thumbnail-hover.jpg" class="display-onHover" alt="Sidebar Hover Thumbnail">
              h2 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              small 2016.03.26
        .aside--list-banner 
          ul 
            li 
              a(href="#")
                <img src="images/sidebar/sidebar--list-image.jpg" alt="Sidebar Thumbnail">
            li 
              a(href="#")
                <img src="images/sidebar/sidebar--list-image.jpg" alt="Sidebar Thumbnail">
            li
              a(href="#")
                <img src="images/sidebar/sidebar--list-image.jpg" alt="Sidebar Thumbnail">
  footer#footer
    .container
      .gotoTop <a href="#" id="goTo-top"><img src="images/footer/footer--gotoTop-button.png" alt="Go to Top" /></a>
      .copyright--content <a href="#">運営会社&nbsp;&nbsp;個人情報保護について</a>
      .copyright--date ©2016 Sample
