.slideshow-wrapper {
  position: relative;
  text-align: center;
  width: 1400px;
  margin: 0 auto 42px auto; }

.slideshow--mask {
  margin: 0 auto;
  width: 1400px;
  height: 418px;
  overflow: hidden; }

ul.mySlides {
  position: relative;
  top: 0px;
  left: 0px; }
  ul.mySlides li {
    float: left;
    position: relative;
    width: 1400px; }

.slideshow-wrapper-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1080px;
  height: 418px;
  text-align: center;
  color: #fff; }
  .slideshow-wrapper-content h1 {
    padding-top: 138px;
    font-size: 62px;
    font-weight: bolder; }
  .slideshow-wrapper-content p {
    font-size: 19px;
    margin-top: 39px;
    letter-spacing: 4.7px;
    line-height: 23px;
    font-weight: 600; }

.mySlides {
  position: relative; }

.slideshow--navigation {
  position: absolute;
  bottom: 16px;
  margin-left: 47%; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.selected, .dot:hover {
  background-color: #E8BA30; }

.slideshow--click-previous, .slideshow--click-next {
  position: absolute;
  top: 185px; }

.slideshow--click-previous {
  left: 0; }

.slideshow--click-next {
  right: 0; }
